@inherits LayoutComponentBase

    <div class="main">
        <div class="top-row px-4">
            
            <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
            <link href="~/css/StyleSheet.css" rel="stylesheet" />
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>